<% include ./partials/header %>

<div class="container">
	<header class="jumbotron text-center">
		<h2>New Post</h2>
		<a class="btn btn-primary" href="/blog">Veja Nossos Posts</a>
	</header>

	<form action="/blog" method="POST">
		<div class="form-group">
			<input type="text" class="form-control" name="blog[title]" placeholder="Type a title">
		</div>
		<div class="form-group">
			<input type="text" class="form-control" name="blog[image]" placeholder="Type a url image">
		</div>
		<div class="form-group">
			<textarea class="form-control" name="blog[body]" rows="5"></textarea>
		</div>
		<div class="form-group">
			<button class="btn btn-warning btn-lg" type="submit">Enviar</button>
		</div>
	</form>
</div>


<% include ./partials/footer %>